<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/32c97c3ba8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="headerNav">
        <span><a href="#">Home</a></span>
        <span><a href="#">Settings</a></span>
    </div>

    <div class="kropelekAndText">
        <img id="kropelekImg" src="assets/waterman.jpg" alt="">
        <div class="welcomeText">
            <span>Witaj Paulina!</span>
            <span>Let's dring some water!</span>
        </div>
    </div>

    <div class="status">
        <i class="fa-regular fa-heart"></i>
        <div class="bar"></div>
        <i class="fa-sharp fa-solid fa-droplet"></i>    
    </div>

    <div class="resultat">
        <span>0 ml</span>
        <span>/</span>
        <span>2000 ml</span>
    </div>

    <div class="cupSection">
        <div class="cupSectionPodsekcja">
            <button>+50ml</button>
            <button>+100ml</button>
            <button>+200ml</button>
        </div>
        <div class="cupSectionPodsekcja">
            <button>+250ml</button>
            <button>+500ml</button>
        </div>
        <div class="cupSectionPodsekcja">
            <button>+TwójKubek ml</button>
        </div>
        
        
    </div>


    <script src="js/main.js"></script>
</body>
</html>